extends layout

block body
    h1 Write a new post.

    .container
        .blog-post
            form(action='/saveposts', method="post")
                div
                    span Title :
                    input(type="text", name="title", id="blogpost")
                div
                    span Body :
                    textarea( name="body", rows=20, id="editArticleBody")
                div#editArticleSubmit
                    input(type="submit", name="new post", value="Send")