extends layout
block body
    .blog-masthead
        .container
            nav.blog-nav
                a.blog-nav-item(href='/') Home
                a.blog-nav-item(href='/about') About
                a.blog-nav-item.active(href='/contact') Contact
    .container
        .blog-post-title Where to find me.
        .blog-post Put all social media info here.

