extends layout
block body
    .blog-masthead
        .container
            nav.blog-nav
                a.blog-nav-item.active(href='/') Home
                a.blog-nav-item(href='/about') About
                a.blog-nav-item(href='/contact') Contact
    .container
        .blog-header
            h1.blog-title Lotuxi.me
        .row
            .col-sm-8.blog-main
                .blog-post
                for posts in postly
                    h2.blog-post-title #{posts.title}
                    p.blog-post-meta #{posts.created_at}
                    p #{posts.body}



                nav
                    ul.pager
                        li
                            a(href='#') Previous
                        li
                            a(href='#') Next
            .col-sm-3.col-sm-offset-1.blog-sidebar
                .sidebar-module.sidebar-module-inset
                    h4 What is this page?
                    p
                        | This blog is for me to share my thoughts and experiences with anyone and everyone.
                        | If you want to learn more about me, check out the About page.


                .sidebar-module
                    h4
                        <a class="twitter-timeline" href="https://twitter.com/Lotuxi" data-widget-id="729835391717511168">Tweets by @Lotuxi</a>
                        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

    footer.blog-footer
        p
            | Blog template built for
            a(href='http://getbootstrap.com') Bootstrap
            |  by
            a(href='https://twitter.com/mdo') @mdo
            | .
        p
            a(href='#') Back to top
    block content