extends layout
block body
    .blog-masthead
        .container
            nav.blog-nav
                a.blog-nav-item.active(href='/') Home
                a.blog-nav-item(href='/about') About
                a.blog-nav-item(href='/contact') Contact
    .container
        .col-sm-8.blog-main
            h2.login-header Hi Brittany!
            h3 Login here:
            if message.length > 0
                p=message

            form(action='/login' method='post')
                input(type='text' name='username' required)
                br
                input(type='password' name='password' required)
                br
                input(type='submit' name='login' vaule='Login')